@model Vidly.ViewModels.RandomMovieVM
@{
    ViewBag.Title = "Random";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{ 
    string nombreClase = Model.Customers.Count > 1 ? "popular" : null;
}
<h2 class="@nombreClase">@Model.Movie.Name</h2>

@if (Model.Customers.Count.Equals(0))
{
    <p> No hay información</p>
}
else
{
    <ul>
        @foreach (var item in Model.Customers)
        {
            <li>@item.Name</li>
        }

    </ul>
}

